body {
        font-family: 'Staatliches', sans-serif;
}

.navFoot-color{
    background-color: #c1d1fc;
    }



.img-footer{
    width: 70px;
    height: 70px;
}

.custom-text{
    color: #1D215E;
}

.custom-text:hover{
    color: #fff;
}



@media(max-width:563px){
    .img-footer{
        width: 45px;
        height: 45px;
    }
    
    .img-log{
        width: 150px;
        
}

}

@media(max-width:280px){
    .img-footer{
        width: 35px;
        height: 35px;
    }

    .img-log{
        width: 100px;
        
}

.img-cart{
    width: 30px;
    height: 30px;
}

.navbar-toggler-icon1 {
    cursor: pointer !important;
}


.box-titles{
    background-color: #001550;
    color: #1D215E;
    margin: 20px;
    padding: 20px;
    size: 20px;
    text-align: center;

}

.box-form{
    background-color: #254e95;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.containers{
    background-color: #001550;
}

footer li{
    text-decoration: none;
    list-style: none;
}

