.navFoot-color {
    background-color: #c1d1fc;
}

.custom-text{
    color: #1D215E;
}

.custom-text:hover{
    color: #fff;
}

.img-footer {
  width: 70px;
  height: 70px;
}

@media (max-width: 563px) {
  .img-footer {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 280px) {
  .img-footer {
    width: 35px;
    height: 35px;
  }
}

.img-cart {
  width: 30px;
  height: 30px;
}

.navbar-toggler-icon1 {
  cursor: pointer !important;
}

.box-titles {
  background-color: #1D215E;
  color: #fff;
  margin: 20px;
  padding: 20px;
  size: 20px;
  text-align: center;
}

.box-form {
  background-color: #254e95;
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
}

.containers {
  background-color: #1D215E;
}

.bi-google:hover {
  fill: #f74925;
}

.bi-facebook:hover {
  fill: #38529a;
}

footer li{
    text-decoration: none;
    list-style: none;
}

