.titleoff{
    display: flex;
    justify-content: center;
    padding-left: 0;
    background-color: #092361;
    border-radius: 15px;
    border: 1px solid #092361;
    color: #ffffff;
}

.btn-2 {
    border: 1px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    background-color: #092361;
    padding: 5px 30px;
}

.btn-2:hover{
    background-color: #254e95;
    color: #ffffff;
}