.input-container {
  position: relative;
}
.iconL {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #555;
  cursor: pointer;
  display: none;
}

.icon {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  right: 35px;
  color: #555;
  cursor: pointer;
  display: none;
}
