.input-container {
  position: relative;
}
.iconL {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px; /* Ajusta según sea necesario */
  color: #555; /* Color del icono */
  cursor: pointer;
  display: none; /* Inicialmente oculto */
}

.icon {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  right: 35px; /* Ajusta según sea necesario */
  color: #555; /* Color del icono */
  cursor: pointer;
  display: none; /* Inicialmente oculto */
}
